<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Create</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="wrapper-header">
        <div class="box-branch">
            <div class="logo-header">
                <img class="image-logo" src="/image/logo.png" alt="Header" />
            </div>
            <div class="text-branch" onclick="window.location.href = '/'">
                Duy Nguyen
            </div>
        </div>
        <div class="box-nav">
            <div class="nav-link" onclick="window.location.href = '/products/'">
                Home
            </div>
            <div class="nav-link active">Create</div>
        </div>
    </div>
    <div class="wrapper-body">
        <div class="" style="text-align: center;">
            <div class style="background-color: aqua;">
                <img height="300px" src="<%= product.image %>" />
            </div>
            <div>
                <div>
                    <h1>
                        <%= product.name %>
                    </h1>
                </div>
                <div>
                    <h2>
                        Price: <%= product.price %>
                    </h2>
                </div>
            </div>
            <button onclick="window.location.href = '/products/create?id=<%= product.id %>'">Update</button>
            <br>
            <br>
            <button id="deletebutton" style="border-radius: 10px;">Delete</button>
        </div>
</body>
<script>
    console.log(`<%= product.id %>`)
    document.getElementById('deletebutton').addEventListener('click', () => {
        fetch(
            'http://localhost:3000/products/details/<%= product.id %>', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
        }
        ).then((res) => res.json())
            .then((json) => {
                console.log(json)
                if (json == 200) {
                    window.location.href = '/products'
                }
            })
    })
</script>

</html>