<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="wrapper-header">
        <div class="box-branch">
            <div class="logo-header">
                <img class="image-logo" src="/image/logo.png" alt="Header" />
            </div>
            <div class="text-branch" onclick="window.location.href = '/'">
                <%= title %>
            </div>
        </div>
        <div class="box-nav">
            <div class="nav-link active" onclick="window.location.href = '/products'">Home</div>
            <div class="nav-link" onclick="window.location.href = '/products/create'">
                Create
            </div>
        </div>
    </div>
    <div class="wrapper-body">
        <h2 style="text-align: center">Welcome to ninedev</h2>
        <% products.forEach((product)=> { %>

            <div class="box-items" onclick="window.location.href = '/products/details/<%= product.id %>'">
                <div class="group-image">
                    <img class="image-main" src=<%=product.image %> alt="Ninedev" />
                </div>
                <div class="group-content">
                    <div class="text-main">
                        <%= product.name %>
                    </div>
                    <div class="text-sub">
                        <%= product.price %>
                    </div>
                </div>
            </div>
            <% }) %>
    </div>
</body>

</html>